<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sign up and Login and Product Tests">
    <test name="Sign Up Tests">
        <classes>
            <class name="com.example.java5_asm_full.TestSignUp" />
        </classes>
    </test>
    <test name="Login Tests">
        <classes>
            <class name="com.example.java5_asm_full.TestLogin" />
        </classes>
    </test>
    <test name="Product Tests">
        <classes>
            <class name="com.example.java5_asm_full.TestProductFunctionality" />
        </classes>
    </test>
</suite>